 <h1>About</h1>

 <p style="font-size: 25px;">
 	<%= @about_me %>
 	The link to the video will be listed below.
 	<br/><br/>
 	<a href="https://www.youtube.com/watch?v=fmyvWz5TUWg">YouTube Link</a>
 </p>


