 <h1>Hello and Welcome!</h1>
<p style="font-size: 25px;">This is a Friend App where you can keep track of all your friends. Please navigate to the Sign-up link to create an account to get started.</p>


